%form
  .row
    .large-4.columns
      %label Email
      %input(type="text")
    .large-4.columns
      %label Password
      %input(type="password")
    .large-4.columns
      %label Full Name
      %input(type="text")

