.container
  .row
    .col-md-9
      .left-panel
        .left-panel-header
          Tricks
    .col-md-3
      .right-panel
        %button{class: 'btn btn-success btn-block'}
          Create a trick
